body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
     padding-top: 80px;
    
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px;
    background: #FFAD8A;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
    position: fixed;
    top: 0;

    width: 100%;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.brand {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo {
    font-size: 22px;
    font-weight: bold;
    color: #fafafa;
}

.brand img{
    height: 45px;
    width: 45px;
    border-radius:12px;
}

#gal img {
    width: 190px;
    height: 200px;
}

nav a {
    margin-left: 12px;
    text-decoration: none;
    color: white;
    font-weight: 500;

}

nav a:hover {
    color: #d67a9a;
}


.hero {
    text-align: center;
    padding: 60px 20px;
    background: #ffffff;
}

.hero button {
    background: #1e90ff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

section {
    padding: 40px 20px;
    text-align: center;
}

.card {
    background: white;
    margin: 10px;
    padding: 20px;
    display: inline-block;
    width: 250px;
    border-radius: 5px;
}

.highlight {
    background: #1e90ff;
    color: white;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px;
}
